<div class="flex min-h-full flex-col bg-white pt-16 pb-12">
  <main
    class="mx-auto flex w-full max-w-7xl flex-grow flex-col justify-center px-4 sm:px-6 lg:px-8">
    <div class="py-16">
      <div class="text-center">
        <p class="brand-600 text-sm font-semibold uppercase tracking-wide">
          404 error
        </p>
        <h1
          class="mt-2 text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl">
          Page not found.
        </h1>
        <p class="mt-2 text-base text-gray-500">
          Sorry, we couldn’t find the page you’re looking for.
        </p>
        <div class="mt-6">
          <a href="/" class="brand-600 hover:brand-500 text-base font-medium"
            >Go back home<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>
    </div>
  </main>
</div>
