<script>
  import { t } from 'svelte-intl-precompile'
  import variables from './../constants/envVariables'

  const GOOGLE_MAPS_SITE_KEY = variables.googleMapsSiteKey
</script>

<svelte:head>
  <title>Allianz-Hoffmann | {$t('Contact Page Title')}</title>
</svelte:head>

<div class="bg-brand-200">
  <main
    class="mx-auto w-full max-w-7xl overflow-hidden px-4 sm:px-6 lg:px-8 lg:pb-12 ">
    <!-- Header -->
    <div class="pb-16 lg:py-12">
      <div class="relative z-10 mx-auto max-w-7xl">
        <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">
          {$t('Contact Title')}
        </h1>
        <p class="mt-6 max-w-3xl text-xl font-light">
          {$t('Contact subtitle')}
        </p>
      </div>
    </div>

    <!-- Contact section -->
    <section class="relative" aria-labelledby="contact-heading">
      <div class="mx-auto max-w-7xl">
        <div class="relative shadow-lg">
          <h2 id="contact-heading" class="sr-only">Contact us</h2>

          <div class="grid grid-cols-1 lg:grid-cols-3">
            <!-- Contact information -->
            <div
              class="relative overflow-hidden bg-gradient-to-b from-brand-800 to-brand-950 px-6 py-10 text-brand-200 sm:px-10 xl:p-12">
              <!-- Decorative angle backgrounds -->
              <div
                class="pointer-events-none absolute inset-0 sm:hidden"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="343"
                  height="388"
                  viewBox="0 0 343 388"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                    fill="url(#linear1)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear1"
                      x1="254.553"
                      y1="107.554"
                      x2="961.66"
                      y2="814.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div
                class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 sm:block lg:hidden"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="359"
                  height="339"
                  viewBox="0 0 359 339"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                    fill="url(#linear2)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear2"
                      x1="192.553"
                      y1="28.553"
                      x2="899.66"
                      y2="735.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div
                class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 lg:block"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="160"
                  height="678"
                  viewBox="0 0 160 678"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                    fill="url(#linear3)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear3"
                      x1="192.553"
                      y1="325.553"
                      x2="899.66"
                      y2="1032.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <h3 class="text-lg font-medium text-brand-200">
                {$t('Contact card title')}
              </h3>
              <p class="mt-6 max-w-3xl">
                {$t('Contact card content')}
              </p>
              <p class="max-w-3xl ">
                {$t('Contact card address')}
              </p>
              <dl class="mt-8 space-y-6">
                <dt>
                  <span class="sr-only">Talk With Us On Phone</span>
                </dt>
                <dd class="flex text-base ">
                  <a
                    class="flex text-brand-200 transition duration-200 ease-in hover:text-brand-400"
                    href="tel:+40 724 973 580"
                    aria-label="Talk With Us On Phone">
                    <!-- Heroicon name: outline/phone -->
                    <svg
                      class="h-6 w-6 flex-shrink-0"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                    </svg>
                    <span class="ml-3">0724 973 580</span></a>
                </dd>
                <dt>
                  <span class="sr-only">Send Us An Email</span>
                </dt>
                <dd class="flex text-base text-teal-50">
                  <a
                    class="flex text-brand-200 transition duration-200 ease-in hover:text-brand-400"
                    href="mailto:{import.meta.env.VITE_FORM_RECIPIENT}"
                    aria-label="Talk With Us On Phone">
                    <!-- Heroicon name: outline/mail -->
                    <svg
                      class="h-6 w-6 flex-shrink-0"
                      width="28"
                      height="28"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2" />
                    </svg>
                    <span class="ml-3"
                      >{import.meta.env.VITE_FORM_RECIPIENT}</span
                    ></a>
                </dd>
              </dl>
              <ul role="list" class="mt-8 flex space-x-12">
                <li>
                  <a
                    class="flex text-brand-200 transition duration-200 ease-in hover:text-brand-400"
                    href="https://www.instagram.com/allianzhoffmann/"
                    aria-label="Visit Allianz-Hoffmann's Instagram"
                    target="_blank"
                    rel="noreferrer">
                    <span class="sr-only">Instagram</span>
                    <svg
                      class="h-6 w-6 flex-shrink-0"
                      width="28"
                      height="28"
                      viewBox="0 0 24 24"
                      fill="none"
                      ><title>instagram</title><g fill="currentColor"
                        ><path
                          d="M21.15 2.85C19.05.74 16.23 1 12 1 8.04 1 5 .69 2.85 2.85.74 4.95 1 7.77 1 12c0 3.95-.31 7 1.85 9.15C4.95 23.26 7.77 23 12 23c3.96 0 7 .31 9.15-1.85C23.25 19.05 23 16.23 23 12c0-4.31.24-7.07-1.85-9.15zm-1.4 16.9c-1.37 1.37-3.18 1.27-7.75 1.27-4.29 0-6.34.15-7.75-1.27-1.44-1.44-1.27-3.51-1.27-7.75 0-4.23-.15-6.33 1.27-7.75C5.66 2.84 7.6 2.98 12 2.98c4.23 0 6.33-.15 7.75 1.27 1.38 1.38 1.27 3.22 1.27 7.75 0 4.24.15 6.34-1.27 7.75z" /><path
                          d="M12 6.35a5.65 5.65 0 10.001 11.301A5.65 5.65 0 0012 6.35zm0 9.32c-2.02 0-3.67-1.64-3.67-3.67 0-2.03 1.64-3.67 3.67-3.67 2.03 0 3.67 1.64 3.67 3.67 0 2.02-1.65 3.67-3.67 3.67zM17.87 4.81c-.73 0-1.32.59-1.32 1.32 0 .73.59 1.32 1.32 1.32.73 0 1.32-.59 1.32-1.32 0-.73-.59-1.32-1.32-1.32z" /></g
                      ></svg>
                    <span class="ml-3">allianzhoffmann</span>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Contact form -->
            <div class="lg:col-span-2">
              <iframe
                title="Location"
                class="aspect-video h-[450px] w-full lg:h-[600px]"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src={`https://www.google.com/maps/embed/v1/place?key=${GOOGLE_MAPS_SITE_KEY}&q=Bl.+C,+Ap.+4,+Strada+Săvineşti+5,+București+042025&zoom=17`} />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
