<script>
  import { locale, t } from 'svelte-intl-precompile'
  import { goto } from '$app/navigation'
  import { setCookie } from '../utils/cookie'

  const changeLanguage = language => {
    setCookie('LANG', language)
    window.location.reload(true)
  }
  const scrollToElement = elementId => {
    const element = document.getElementById(elementId)
    if (element) {
      element.scrollIntoView()
    } else {
      goto('/').then(() => {
        const element = document.getElementById(elementId)
        element.scrollIntoView()
      })
    }
  }

  const currentYear = new Date().getFullYear()
  const copyYear = currentYear === 2021 ? '2021' : `2021 - ${currentYear}`
</script>

<footer class="" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="bg-brand-900 px-6">
    <div class="mx-auto max-w-5xl py-8 md:py-10">
      <div class="pb-8 md:hidden">
        <a href="/" class="inline-flex items-center">
          <span class="sr-only">Allianz-Hoffmann Logo</span>
          <img
            class="h-10 w-auto"
            src="/logo-white.png"
            alt="Allianz-Hoffmann Logo" />
          <span class="ml-2 text-2xl text-brand-200">Allianz-Hoffmann</span>
        </a>
      </div>
      <nav class="flex-wrap md:flex md:space-x-10 md:px-6" aria-label="Footer">
        <div class="py-2">
          <a
            on:click|preventDefault={() => scrollToElement('steps')}
            href="/"
            class="text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400">
            {$t('Steps Section Title')}
          </a>
        </div>

        <div class="py-2">
          <a
            on:click|preventDefault={() => scrollToElement('fleet')}
            href="/"
            class="text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400">
            {$t('Fleet Section Title')}
          </a>
        </div>
        <div class="py-2">
          <a
            href="/request-a-car"
            class="text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400">
            {$t('Layout navigation replacement car')}
          </a>
        </div>
        <div class="py-2">
          <a
            href="/rent-a-car"
            class="text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400">
            {$t('Layout navigation rent a car')}
          </a>
        </div>

        <div class="py-2">
          <a
            href="/contact"
            class="text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400">
            {$t('Layout navigation contact')}
          </a>
        </div>

        <div class="py-2">
          <a
            href="https://asfromania.ro/uploads/articole/attachments/60782e77d3c1f489847957.pdf"
            class="text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400"
            target="_blank"
            rel="noreferrer">
            {$t('Layout navigation Law Amendments')}
          </a>
        </div>
      </nav>
      <nav
        class="flex-wrap items-center md:mx-auto md:flex md:space-x-6 md:px-6">
        <div class="mt-4 py-2 md:mt-[11px]">
          <a
            class="flex items-center text-base text-brand-200 transition duration-100 ease-in hover:text-brand-400"
            href="https://www.instagram.com/allianzhoffmann/"
            aria-label="Visit Allianz-Hoffmann's Instagram"
            target="_blank"
            rel="noreferrer">
            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none"
              ><title>instagram</title><g fill="currentColor"
                ><path
                  d="M21.15 2.85C19.05.74 16.23 1 12 1 8.04 1 5 .69 2.85 2.85.74 4.95 1 7.77 1 12c0 3.95-.31 7 1.85 9.15C4.95 23.26 7.77 23 12 23c3.96 0 7 .31 9.15-1.85C23.25 19.05 23 16.23 23 12c0-4.31.24-7.07-1.85-9.15zm-1.4 16.9c-1.37 1.37-3.18 1.27-7.75 1.27-4.29 0-6.34.15-7.75-1.27-1.44-1.44-1.27-3.51-1.27-7.75 0-4.23-.15-6.33 1.27-7.75C5.66 2.84 7.6 2.98 12 2.98c4.23 0 6.33-.15 7.75 1.27 1.38 1.38 1.27 3.22 1.27 7.75 0 4.24.15 6.34-1.27 7.75z" /><path
                  d="M12 6.35a5.65 5.65 0 10.001 11.301A5.65 5.65 0 0012 6.35zm0 9.32c-2.02 0-3.67-1.64-3.67-3.67 0-2.03 1.64-3.67 3.67-3.67 2.03 0 3.67 1.64 3.67 3.67 0 2.02-1.65 3.67-3.67 3.67zM17.87 4.81c-.73 0-1.32.59-1.32 1.32 0 .73.59 1.32 1.32 1.32.73 0 1.32-.59 1.32-1.32 0-.73-.59-1.32-1.32-1.32z" /></g
              ></svg
            ><span class="ml-2 mt-0.5 md:hidden">allianzhoffmann</span>
          </a>
        </div>
        <div class="mt-3 py-2 text-brand-200 hover:text-brand-400 md:ml-4">
          <button
            type="button"
            on:click|preventDefault={changeLanguage(
              $locale === 'ro' ? 'en' : 'ro',
            )}
            class="mt-[4px] inline-flex cursor-pointer items-center justify-start text-sm transition duration-100 ease-in focus:outline-none ">
            <span class="sr-only">Change site language</span>
            <div class="flex h-4 flex-row items-center justify-between ">
              <svg
                fill="currentColor"
                height="19"
                width="19"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  clip-rule="evenodd"
                  d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                  fill="currentColor"
                  fill-rule="evenodd" /><path
                  clip-rule="evenodd"
                  d="M21 13H3V11H21V13Z"
                  fill="currentColor"
                  fill-rule="evenodd" /><path
                  clip-rule="evenodd"
                  d="M11.2925 20.2933C11.2927 20.2931 11.2929 20.2929 12 21C12.7071 21.7071 12.7073 21.7069 12.7076 21.7066L12.7096 21.7046L12.7135 21.7007L12.7256 21.6884C12.7355 21.6782 12.7492 21.6642 12.7663 21.6464C12.8005 21.6108 12.8486 21.5599 12.9085 21.4946C13.0284 21.3641 13.196 21.1754 13.3954 20.9344C13.7935 20.4533 14.3224 19.7591 14.8517 18.8991C15.9014 17.1932 17 14.7582 17 12C17 9.24185 15.9014 6.8068 14.8517 5.1009C14.3224 4.24086 13.7935 3.54666 13.3954 3.06556C13.196 2.82458 13.0284 2.63589 12.9085 2.50537C12.8486 2.44008 12.8005 2.38925 12.7663 2.35361C12.7492 2.33579 12.7355 2.32176 12.7256 2.31161L12.7135 2.29931L12.7096 2.29536L12.7082 2.29394C12.7079 2.2937 12.7071 2.29289 12 3C11.2929 3.70711 11.2927 3.70691 11.2925 3.70672L11.2973 3.71164L11.3235 3.73867C11.3479 3.76407 11.3858 3.80406 11.4352 3.85791C11.5341 3.96567 11.679 4.12854 11.8546 4.34069C12.2065 4.76584 12.6776 5.38414 13.1483 6.1491C14.0986 7.6932 15 9.75815 15 12C15 14.2418 14.0986 16.3068 13.1483 17.8509C12.6776 18.6159 12.2065 19.2342 11.8546 19.6593C11.679 19.8715 11.5342 20.0343 11.4352 20.1421C11.3858 20.1959 11.3479 20.2359 11.3235 20.2613L11.2973 20.2884L11.2925 20.2933Z"
                  fill="currentColor"
                  fill-rule="evenodd" /><path
                  clip-rule="evenodd"
                  d="M12.7075 20.2933C12.7073 20.2931 12.7071 20.2929 12 21C11.2929 21.7071 11.2927 21.7069 11.2924 21.7066L11.2904 21.7046L11.2865 21.7007L11.2744 21.6884C11.2645 21.6782 11.2508 21.6642 11.2337 21.6464C11.1995 21.6108 11.1514 21.5599 11.0915 21.4946C10.9716 21.3641 10.804 21.1754 10.6046 20.9344C10.2065 20.4533 9.6776 19.7591 9.14834 18.8991C8.09856 17.1932 7 14.7582 7 12C7 9.24185 8.09856 6.8068 9.14834 5.1009C9.6776 4.24086 10.2065 3.54666 10.6046 3.06556C10.804 2.82458 10.9716 2.63589 11.0915 2.50537C11.1514 2.44008 11.1995 2.38925 11.2337 2.35361C11.2508 2.33579 11.2645 2.32176 11.2744 2.31161L11.2865 2.29931L11.2904 2.29536L11.2918 2.29394C11.2921 2.2937 11.2929 2.29289 12 3C12.7071 3.70711 12.7073 3.70691 12.7075 3.70672L12.7027 3.71164L12.6765 3.73867C12.6521 3.76407 12.6142 3.80406 12.5648 3.85791C12.4659 3.96567 12.321 4.12854 12.1454 4.34069C11.7935 4.76584 11.3224 5.38414 10.8517 6.1491C9.90144 7.6932 9 9.75815 9 12C9 14.2418 9.90144 16.3068 10.8517 17.8509C11.3224 18.6159 11.7935 19.2342 12.1454 19.6593C12.321 19.8715 12.4658 20.0343 12.5648 20.1421C12.6142 20.1959 12.6521 20.2359 12.6765 20.2613L12.7027 20.2884L12.7075 20.2933Z"
                  fill="currentColor"
                  fill-rule="evenodd" /></svg>
            </div>
            <div class="mt-[4px] ml-2">
              {#if $locale === 'ro'}
                English
              {:else}
                Română
              {/if}
            </div>
          </button>
        </div>
      </nav>
    </div>
  </div>
  <div class="bg-brand-950 px-6">
    <div
      class="flex max-w-5xl flex-col justify-items-start py-8 md:mx-auto md:flex-row md:px-6">
      <span class="text-brand-500">
        &copy;&nbsp;{copyYear}&nbsp;Allianz-Hoffmann.&nbsp;
      </span>
      <div>
        <span class="text-brand-500">{$t('Layout Site Developer')}</span>
        <span class="sr-only">Webative</span>
        <a
          href="https://www.webative.net/"
          target="_blank"
          rel="noreferrer"
          class="text-brand-600 transition duration-100 ease-in hover:text-brand-400 focus:text-brand-600 md:text-brand-500"
          >webative.net
        </a>
      </div>
    </div>
  </div>
</footer>
