<script>
  import Headroom from 'svelte-headroom'
  import { base } from '$app/paths'
  import { locale, t } from 'svelte-intl-precompile'
  import { fly } from 'svelte/transition'
  import { setCookie } from '@utils/cookie'

  let menuVisible = false

  const toggleMenu = () => {
    menuVisible = !menuVisible
  }

  const changeLanguage = language => {
    setCookie('LANG', language)
    window.location.reload(true)
  }
</script>

<svelte:head>
  {#if menuVisible}
    <style>
      body {
        position: fixed;
        overflow: hidden;
      }
    </style>
  {/if}
</svelte:head>

<header class="relative z-20">
  <Headroom duration="100ms" offset={50} tolerance={10}>
    <div class="bg-brand-900 py-3 drop-shadow-sm md:py-5">
      <nav class="relative mx-auto max-w-5xl px-6 sm:px-6" aria-label="Global">
        <div class="flex w-auto items-center justify-between">
          <div class="flex items-center justify-start">
            <a href="/" class="inline-flex items-center">
              <span class="sr-only">Allianz-Hoffmann Logo</span>
              <img
                class="h-10 w-auto"
                src="/logo-white.png"
                alt="Allianz-Hoffmann Logo" />
              <span class="ml-2 text-2xl text-brand-200">Allianz-Hoffmann</span>
            </a>
            <div class="mt-1.5 hidden items-center space-x-2 md:ml-10 lg:flex">
              <a
                aria-current={base === '/' ? 'page' : undefined}
                href="/"
                class="rounded-full border border-transparent px-2 py-1 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700"
                class:active={base === '/'}>
                <span class="sr-only">Go to Home page</span>
                {$t('Layout navigation homepage')}
              </a>
              <a
                aria-current={base === '/request-a-car' ? 'page' : undefined}
                href="/request-a-car"
                class="rounded-full border border-transparent px-2 py-1 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700"
                class:active={base === '/request-a-car'}>
                <span class="sr-only">Go to Replacement car page</span>
                {$t('Layout navigation replacement car')}
              </a>
              <a
                aria-current={base === '/rent-a-car' ? 'page' : undefined}
                href="/rent-a-car"
                class="rounded-full border border-transparent px-2 py-1 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700"
                class:active={base === '/rent-a-car'}>
                <span class="sr-only">Go to Rent car page</span>
                {$t('Layout navigation rent a car')}
              </a>
              <a
                aria-current={base === '/contact' ? 'page' : undefined}
                href="/contact"
                class="rounded-full border border-transparent px-2 py-1 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700"
                class:active={base === '/contact'}>
                <span class="sr-only">Go to Contact page</span>
                {$t('Layout navigation contact')}
              </a>
            </div>
          </div>
          <div class="-mr-1 flex justify-end ">
            <div class="flex items-center space-x-6 md:mr-2">
              <a
                href="tel:+40 724 973 580"
                class="inline-flex items-center rounded-full border border-transparent p-2 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700">
                <span class="sr-only">Talk With Us On Phone</span>
                <svg
                  class="h-6 w-6"
                  width="28"
                  height="28"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2" />
                </svg>
                <span class="ml-0.5 hidden text-lg font-medium lg:block"
                  >0724 973 580</span>
              </a>
            </div>
            <div class="-mr-1 flex justify-end ">
              <div class="flex items-center space-x-6 md:mr-2">
                <a
                  href="mailto:{import.meta.env.VITE_FORM_RECIPIENT}"
                  class="hidden items-center rounded-full border border-transparent p-2 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700 md:block">
                  <span class="sr-only">Send Us An Email</span>
                  <svg
                    class="h-6 w-6"
                    width="28"
                    height="28"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2" />
                  </svg>
                </a>
              </div>
              <!-- Mobile menu button -->
              <div class="z-40 ml-2 flex items-center md:hidden">
                <button
                  type="button"
                  class="relative mb-1 rounded-md p-6 focus:outline-none {menuVisible
                    ? 'bg-transparent text-brand-200'
                    : 'bg-brand-900 text-brand-200'}"
                  aria-controls="mobile-menu"
                  aria-expanded="false"
                  on:click={toggleMenu}>
                  <span class="sr-only">Open main menu</span>
                  <div
                    class="absolute left-1/2 top-1/2 block w-7 -translate-x-1/2 -translate-y-1/2 transform">
                    <span
                      aria-hidden="true"
                      class:important_rotate-45={menuVisible}
                      class:-translate-y-2={!menuVisible}
                      class="absolute block h-[3px] w-7 transform rounded-full bg-current transition duration-300 ease-in-out" />
                    <span
                      aria-hidden="true"
                      class:opacity-0={menuVisible}
                      class:opacity-100={!menuVisible}
                      class="absolute block h-[3px] w-7 transform rounded-full bg-current transition duration-300 ease-in-out" />
                    <span
                      aria-hidden="true"
                      class:important_-rotate-45={menuVisible}
                      class:translate-y-2={!menuVisible}
                      class="absolute block h-[3px] w-7 transform rounded-full bg-current transition duration-300 ease-in-out" />
                  </div>
                </button>
              </div>
              <button
                type="button"
                on:click|preventDefault={changeLanguage(
                  $locale === 'ro' ? 'en' : 'ro',
                )}
                class="hidden items-center rounded-full border border-transparent p-2 text-base font-medium text-brand-200 transition duration-200 ease-in hover:bg-brand-700 md:block">
                <div
                  class="flex h-6 w-12 flex-row items-center justify-between">
                  <span class="sr-only">Change site language</span>

                  <svg
                    fill="#DCDDE0"
                    height="24"
                    width="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      clip-rule="evenodd"
                      d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                      fill="#DCDDE0"
                      fill-rule="evenodd" /><path
                      clip-rule="evenodd"
                      d="M21 13H3V11H21V13Z"
                      fill="#DCDDE0"
                      fill-rule="evenodd" /><path
                      clip-rule="evenodd"
                      d="M11.2925 20.2933C11.2927 20.2931 11.2929 20.2929 12 21C12.7071 21.7071 12.7073 21.7069 12.7076 21.7066L12.7096 21.7046L12.7135 21.7007L12.7256 21.6884C12.7355 21.6782 12.7492 21.6642 12.7663 21.6464C12.8005 21.6108 12.8486 21.5599 12.9085 21.4946C13.0284 21.3641 13.196 21.1754 13.3954 20.9344C13.7935 20.4533 14.3224 19.7591 14.8517 18.8991C15.9014 17.1932 17 14.7582 17 12C17 9.24185 15.9014 6.8068 14.8517 5.1009C14.3224 4.24086 13.7935 3.54666 13.3954 3.06556C13.196 2.82458 13.0284 2.63589 12.9085 2.50537C12.8486 2.44008 12.8005 2.38925 12.7663 2.35361C12.7492 2.33579 12.7355 2.32176 12.7256 2.31161L12.7135 2.29931L12.7096 2.29536L12.7082 2.29394C12.7079 2.2937 12.7071 2.29289 12 3C11.2929 3.70711 11.2927 3.70691 11.2925 3.70672L11.2973 3.71164L11.3235 3.73867C11.3479 3.76407 11.3858 3.80406 11.4352 3.85791C11.5341 3.96567 11.679 4.12854 11.8546 4.34069C12.2065 4.76584 12.6776 5.38414 13.1483 6.1491C14.0986 7.6932 15 9.75815 15 12C15 14.2418 14.0986 16.3068 13.1483 17.8509C12.6776 18.6159 12.2065 19.2342 11.8546 19.6593C11.679 19.8715 11.5342 20.0343 11.4352 20.1421C11.3858 20.1959 11.3479 20.2359 11.3235 20.2613L11.2973 20.2884L11.2925 20.2933Z"
                      fill="#DCDDE0"
                      fill-rule="evenodd" /><path
                      clip-rule="evenodd"
                      d="M12.7075 20.2933C12.7073 20.2931 12.7071 20.2929 12 21C11.2929 21.7071 11.2927 21.7069 11.2924 21.7066L11.2904 21.7046L11.2865 21.7007L11.2744 21.6884C11.2645 21.6782 11.2508 21.6642 11.2337 21.6464C11.1995 21.6108 11.1514 21.5599 11.0915 21.4946C10.9716 21.3641 10.804 21.1754 10.6046 20.9344C10.2065 20.4533 9.6776 19.7591 9.14834 18.8991C8.09856 17.1932 7 14.7582 7 12C7 9.24185 8.09856 6.8068 9.14834 5.1009C9.6776 4.24086 10.2065 3.54666 10.6046 3.06556C10.804 2.82458 10.9716 2.63589 11.0915 2.50537C11.1514 2.44008 11.1995 2.38925 11.2337 2.35361C11.2508 2.33579 11.2645 2.32176 11.2744 2.31161L11.2865 2.29931L11.2904 2.29536L11.2918 2.29394C11.2921 2.2937 11.2929 2.29289 12 3C12.7071 3.70711 12.7073 3.70691 12.7075 3.70672L12.7027 3.71164L12.6765 3.73867C12.6521 3.76407 12.6142 3.80406 12.5648 3.85791C12.4659 3.96567 12.321 4.12854 12.1454 4.34069C11.7935 4.76584 11.3224 5.38414 10.8517 6.1491C9.90144 7.6932 9 9.75815 9 12C9 14.2418 9.90144 16.3068 10.8517 17.8509C11.3224 18.6159 11.7935 19.2342 12.1454 19.6593C12.321 19.8715 12.4658 20.0343 12.5648 20.1421C12.6142 20.1959 12.6521 20.2359 12.6765 20.2613L12.7027 20.2884L12.7075 20.2933Z"
                      fill="#DCDDE0"
                      fill-rule="evenodd" /></svg>

                  <div class="mt-[4px]">
                    {#if $locale === 'ro'}
                      EN
                    {:else}
                      RO
                    {/if}
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </nav>
      {#if menuVisible}
        <div
          role="menu"
          class="fixed top-0 z-30 flex h-screen w-screen flex-col justify-center bg-brand-900"
          transition:fly={{ x: -300, duration: 300 }}>
          <ul
            class="mx-8 grid grid-cols-1 items-center space-y-6"
            id="mobile-nav">
            <li>
              <a
                class="flex items-center justify-center border-brand-200 py-5 text-center text-3xl font-semibold text-brand-200 md:text-4xl"
                href="/"
                on:click={toggleMenu}
                in:fly={{ x: -20, duration: 300, delay: 50 }}>
                <span class="sr-only">Go to Home page</span>
                <span class="">{$t('Layout navigation homepage')}</span>
              </a>
            </li>
            <li>
              <a
                class="flex items-center justify-center py-5 text-center text-3xl font-semibold text-brand-200 md:text-4xl"
                href="/request-a-car"
                on:click={toggleMenu}
                in:fly={{ x: -40, duration: 300, delay: 100 }}>
                <span class="sr-only">Go to Replacement car page</span>
                <span class="ml-3.5"
                  >{$t('Layout navigation replacement car')}</span>
              </a>
            </li>
            <li>
              <a
                class="flex items-center justify-center py-5 text-center text-3xl font-semibold text-brand-200 md:text-4xl"
                href="/rent-a-car"
                on:click={toggleMenu}
                in:fly={{ x: -40, duration: 300, delay: 100 }}>
                <span class="sr-only">Go to Rent a car page</span>
                <span class="ml-3.5">{$t('Layout navigation rent a car')}</span>
              </a>
            </li>
            <li>
              <a
                class="flex items-center justify-center py-5 text-center text-3xl font-semibold text-brand-200 md:text-4xl"
                href="/contact"
                on:click={toggleMenu}
                in:fly={{ x: -80, duration: 300, delay: 150 }}>
                <span class="sr-only">Go to Contact page</span>
                <span class="ml-3.5">{$t('Layout navigation contact')}</span>
              </a>
            </li>
            <li>
              <a
                class="flex items-center justify-center py-5 text-center text-3xl font-semibold text-brand-200 md:text-4xl"
                href="tel:+40 724 973 580"
                in:fly={{
                  x: -100,
                  duration: 300,
                  delay: 200,
                }}>
                <svg
                  class="h-8 w-8"
                  width="28"
                  height="28"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2" />
                </svg>
                <span class="sr-only">Talk With Us On Phone</span>
                <span class="ml-3.5 font-bold tracking-wide">0724 973 580</span>
              </a>
            </li>
            <li>
              <a
                href="mailto:{import.meta.env.VITE_FORM_RECIPIENT}"
                class="flex items-center justify-center py-5 text-center text-3xl font-semibold text-brand-200 md:text-4xl"
                in:fly={{
                  x: -100,
                  duration: 300,
                  delay: 250,
                }}>
                <span class="sr-only">Send us an email</span>
                <svg
                  class="h-8 w-8"
                  width="28"
                  height="28"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2" />
                </svg>
                <span class="ml-3.5 font-bold tracking-wide"
                  >{$t('Layout Send Email Menu Title')}</span>
              </a>
            </li>
            <li class="mx-auto">
              <button
                type="button"
                on:click|preventDefault={changeLanguage(
                  $locale === 'ro' ? 'en' : 'ro',
                )}
                class="flex items-center justify-center text-center text-brand-400"
                in:fly={{
                  x: -100,
                  duration: 300,
                  delay: 300,
                }}>
                <div
                  class="flex h-6 w-10 flex-row items-center justify-between">
                  <div class="mr-2">
                    <span class="sr-only">Change site language</span>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      ><path
                        d="M12 1C5.9 1 1 5.9 1 12s4.9 11 11 11 11-4.9 11-11S18.1 1 12 1zm8 11c0 .7-.1 1.4-.3 2-.6-1.5-1.6-3.1-3-4.7l1.8-1.8c1 1.3 1.5 2.8 1.5 4.5zM6.5 6.5c1.3 0 3.6.8 6 2.9l-3.2 3.2C7.1 9.8 6.5 7.5 6.5 6.5zm8.1 5c2.3 2.7 2.9 5 2.9 6-1.3 0-3.6-.8-6-2.9l3.1-3.1zm1.9-6.1l-1.9 1.9c-1.6-1.4-3.2-2.4-4.7-3 .7-.2 1.3-.3 2-.3 1.8 0 3.3.5 4.6 1.4zM4 12c0-.7.1-1.4.3-2 .6 1.5 1.6 3.1 3 4.7l-1.8 1.8C4.5 15.2 4 13.7 4 12zm3.5 6.6l1.9-1.9c1.6 1.4 3.2 2.4 4.7 3-.7.2-1.3.3-2 .3-1.8 0-3.3-.5-4.6-1.4z"
                        fill="currentColor" /></svg>
                  </div>
                  <div class="ml-0.5 mt-0.5">
                    {#if $locale === 'ro'}
                      EN
                    {:else}
                      RO
                    {/if}
                  </div>
                </div>
              </button>
            </li>
          </ul>
        </div>
      {/if}
    </div>
  </Headroom>
</header>

<style>
  .important_rotate-45 {
    @apply rotate-45;
  }

  .important_-rotate-45 {
    @apply -rotate-45;
  }
</style>
